.accordion{
    margin:20px;
}
.accordion-button{
    background-color: rgb(34, 34, 34);
    color: white;
    border: 2px solid black;
    padding: 40px 40px;
    font-family: 'Montserrat', sans-serif;
}
.accordion-button:not(.collapsed){
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 80%;
}

.accordion-button.collapsed{
    padding: 40px 40px;
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
}
.list-group-item{
    background-color: gray;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #c0c0c0;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    font-family: 'Montserrat', sans-serif;
  }
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#myBtns, #myBtn, #myBtnss{
    background-color: rgb(66, 66, 66);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    margin-left: 1%;
}
.nav-link.active{
    padding: 5px 10px;
}
.my-3 .list-group-item{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
.my-3 strong{
    font-size: 16px;
}
.my-3 .text-muted{
    font-size: 14px;
}

.cal-days .btn{
    font-family: 'Montserrat', sans-serif;
}
.cal-month, .cal-days, .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
}

.cal-days .btn:active{
    background-color: #dffcff;
    border: 1px solid #29727a;
}

.cal-month-name{
    text-align: center;
    grid-column-end: 7;
    grid-column-end: 7;
}
